/* Animation Keyframes */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@keyframes pulsate {
    0% {
        opacity: 0.1; /* Adjusted opacity */
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1; /* Adjusted opacity */
    }
}

/* Title Section Styles */
#title-section {
    background-color: #785fdb; /* Changed background color */
    padding: 20px;
    text-align: center;
}

#title {
    font-size: 2em;
    color: #ffffff; /* Changed text color */
    margin: 0;
    padding: 0;
    animation: bounce 2s infinite; /* Changed to use the bounce animation */
}

/* Title Section Styles */
#title-section {
    background-color: #785fdb; /* Changed background color */
    padding: 20px;
    text-align: center;
}

#title {
    font-size: 2em;
    color: #DEC0F1; /* Changed text color */
    margin: 0;
    padding: 0;
    animation: pulsate 2s infinite;
}

/* Styles for Common Elements */
body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

main {
    padding: 40px;
}

body {
    font-family: 'Montagu Slab', serif;
    margin: 0;
    padding: 0;
    color: #DEC0F1;
    background: linear-gradient(to bottom, #fa87f0, #91ccfd);
}

/* Styles for tablets (min-width: 768px) */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em; /* Adjust the font size for tablets */
    }

    header {
        padding: 30px;
    }

    main {
        padding: 60px;
    }

    .content-section {
        padding: 40px;
    }

    .article-image img {
        width: 100%;
        height: auto;
        max-height: 300px;
        object-fit: cover;
    }

    footer {
        padding: 30px;
    }
}

/* Styles for mobile devices (min-width: 480px) */
@media screen and (max-width: 767px) {
    body {
        font-size: 1em; /* Adjust the font size for mobile devices */
    }

    header {
        padding: 20px;
    }

    main {
        padding: 40px;
    }

    .content-section {
        padding: 20px;
    }

    .article-image img {
        max-height: 200px;
    }

    footer {
        padding: 20px;
    }
}

/* Styles for Main Content Section */

.content-section {
    font-family: 'Epilogue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7d5f3;
    color: #785fdb;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
}

.article-content {
    flex: 1;
    text-align: left;
    margin-left: 50px;
}

.article-image {
    flex: 1;
    text-align: right;
}

.article-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
}

/* Styles for Video Background and Header */

body,
#video-bg {
    font-family: 'Montagu Slab', serif;
    margin: 0;
    padding: 0;
    color: #957FEF;
    background: linear-gradient(to bottom, #fa87f0, #91ccfd);
}

#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #957FEF;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

#title-section {
    text-align: center;
}

#title {
    font-family: 'Salsa', cursive;
    color: #B79CED;
    font-size: 3em;
    margin-bottom: 20px;
    animation: pulsate 2s infinite;
}

/* Styles for Home Page Footer */

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #B79CED;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px; /* Adjust as needed to lower the footer */
}

/* Styles for Image Section */

.image-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.image-section img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
}

/* Styles for Reference Page */

body.reference {
    font-family: 'Crimson Text', serif;
    margin: 0;
    padding: 0;
    background: #EFD9CE;
    color: #210135;
}

main.reference {
    padding: 20px;
}

.content-section.reference {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.reference-container {
    max-width: 800px;
    margin: 0 auto;
}

.content-section h2 {
    color: #B79CED;
    margin-top: 40px;
}

.content-section h3 {
    color: #785fdb;
    margin-top: 20px;
}

.content-section p {
    margin-bottom: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #B79CED;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}

.social-media {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.social-media a {
    margin-right: 10px;
    color: #B79CED;
}


footer.reference {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.8;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}

/* Styles for About Page */

body.about {
    font-family: 'Annie Use Your Telescope', cursive;
    margin: 0;
    padding: 0;
    background: #EFD9CE;
    color: #B89787;
}

main.about {
    padding: 20px;
}

.content-section.about {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.content-section {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.circle-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.photo {
    text-align: center;
}

.photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.photo p {
    margin-top: 10px;
    color: #B89787;
}

/* Styles for Navigation Bar */

nav {
    font-family: 'Montagu Slab', serif;
    background-color: #333;
}

nav a {
    text-decoration: none;
    color: #957FEF;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover {
    color: #B79CED;
}

nav a:active {
    box-shadow: 0 0 10px rgba(183, 156, 237, 0.8);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Styles for Social Media Icons */

footer {
    position: relative;
}

.social-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.yt,
.twt,
.fb,
.tbr {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-size: cover; /* Adjusted to cover the entire icon */
    display: inline-block;
}

.yt {
    background: url('Icons/sprite3.png') no-repeat -439px -221px;
}

.twt {
    background: url('Icons/sprite3.png') no-repeat -66px -72px;
}

.fb {
    background: url('Icons/sprite3.png') no-repeat -439px -146px;
}

.tbr {
    background: url('Icons/sprite3.png') no-repeat -216px -146px;
}
